@charset "utf-8";
.ital {
    font-style: italic;
}
.sideBySide {
    display: flex;
}
.filmStill {
    width: 300px;
}
.filminfo {
    min-width: 1200px;
    max-width: 1200px;
    border-style: solid;
}
